
/* PRIMARY ELEMENTS */
p {
  font-family: "Barlow", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-size: 100%;
  background-color: #cacaca;
}

blockquote {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #ddd;
  padding: 2em;
}

header { height: 130px; }

main {
  margin-bottom: 20px;
  margin-top: -30px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}


/* GENERAL PROPERTIES */
.disabled {
  color: grey;
  opacity: 0.5;
}

.row {
  justify-content: center;
}

.col,
[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.title-font {
  text-align: center;
  vertical-align: middle;
}

.logo {
  height: 50px;
}

.jumbheader {
  box-shadow: 2px 2px 2px rgb(167, 166, 166);
  background-color: #238193 !important;
  color: lightgray;
}

.jumbheader .header-text {
  margin: 0 auto;
  padding-top: 10px;
  font-weight: bold;
  height: 50px;
  color: white;
}


/* NAVBAR */
.navbar {
  background-color: rgb(55, 55, 56);
  padding: 20px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background: white !important;
}

.navbar.navbar-light.bg-light.footer {
  margin-top: 10px;
  font-size: 1em;
  background-color: #238193 !important;
  color: white;
}

.navbar-brand {
  display: flex;
}

.nav-spacing {
  margin-right: 2em;
}

.navbar-collapse {
  justify-content: flex-end;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar #main-header {
  display: inline-block;
  color: #238193;
}
.navbar #main-header-small,
.navbar #main-header-mobile {
  display: none;
}


/* JUMBOTRON */
.jumbotron.jumbotron-fluid {
  background: none;
}
.jumbotron.jumbotron-fluid img {
  background: none;
  width: 100%;
  margin-top: -80px;
}


/* COHORT MEMBER CARDS */
.cohortMems {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 2px lightgray;
  margin: 10px;
  margin-bottom: 25px;
  background: white;
  top: 0;
  transition: top ease 0.5s;
}

.cohortMems:hover {
  top: -10px;
}

.cohortMems .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cohortMems .card-img-fun {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  /* Keep z-index less than the hire-me ribbon */
  z-index: 10;
}

.cohortMems:hover .card-img-fun {
    display: inline;
}

.cohortMems .hire-me {
  width: 200px;
  position: absolute;

  top: 27px;
  right: -48px;
  left: auto;

  border-bottom: 50px solid #F6881F;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;

  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;

  color: #f0f0f0;

  z-index: 99;

  transform: rotate(-45deg);
  -webkit-transform: rotate(45deg);
}

.cohortMems .cohortCard--studentInfo {

}

.cohortMems .cohortCard--studentInfo .card-text {
  height: 150px;
  overflow: scroll;
}

/* Hides scrollbar for the bio/reelthemin section */
.cohortMems .cohortCard--studentInfo .card-text::-webkit-scrollbar {
  display: none;
}

.cohortMems .cohortCard--studentInfo .bio { display: none; }
.cohortMems:hover .cohortCard--studentInfo .reelThemIn { display: none; }
.cohortMems:hover .cohortCard--studentInfo .bio { display: block; }

.cohortMems .cohortCard--studentInfo .studentContact {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  margin-bottom: 0.75rem;
}

.cohortMems .cohortCard--studentInfo .studentContact .contactIcons {
  color: #238193;
  transition: transform ease 0.5s, color ease 0.5s;
}

.cohortMems .cohortCard--studentInfo .studentContact a:not(.disabled) > .contactIcons:hover {
  transform: scale(1.2);
  color: #F6881F;
}

.cohortMems .cohortCard--learnMore {
  padding: 1.25rem 0 0 0
}

.cohortMems .cohortCard--learnMore a.cardActionButton {
  line-height: 1.75;
  font-size: 1.5rem;

  color: white;
  transition: color ease 0.5s;

  background-color: #238193 !important;
}
.cohortMems .cohortCard--learnMore a.cardActionButton:hover { color: #F6881F; }

.cohortMems .cohortCard--learnMore a.resumeButton { border-radius: 0 0 0 0.25em; }
.cohortMems .cohortCard--learnMore a.demoButton { border-radius: 0 0 0.25em 0; }


/* TECHNOLOGIES */
.technos,
.words {
  margin-top: -55px;
  background: white;
  padding: 20px;
  border-radius: 20px;
}

.techs {
  width: 70px;
  margin: 20px 0;
}

.techs .technologies {
  border: none;
  border-radius: none;
  box-shadow: none;
}


/* THANK YOU SECTION */
.words {
  padding: 50px;
}

#thanks .thank-you-title {
  margin-top: 1em;
}

#thanks .thank-you-list {
  margin-bottom: 0;
}
#thanks .thank-you-list li {
  list-style-type: none;
}


/* MOBILE INTEGRATIONS */
/* adjusts size of contact icons depending on size of card */
@media (min-width: 992px) and (max-width: 1200px) {
  .fa-3x {
    font-size: 2.5em !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .fa-3x {
    font-size: 2em !important;
  }
}

@media (max-width: 900px) {
  /* body {
        background: url("../assets/images/bg.jpg") repeat;
    } */
  .jumbotron.jumbotron-fluid img {
    background: white;
    margin-top: 30px;
  }
  .jumbotron.jumbotron-fluid.sm-width {
    width: 100%;
  }
  .header-text {
    margin: 0 auto;
    height: 30px;
  }
  .header-text h2 {
    font-size: 1.5em;
    margin-top: -10px;
  }
  main {
    margin-bottom: 100px;
    margin-top: -50px;
    width: 100%;
  }
  .navbar-brand img {
    padding-right: none;
  }
}

@media only screen and (min-width: 668px) and (max-width: 980px) {
  #main-header,
  #main-header-mobile {
    display: none;
  }
  #main-header-small {
    display: inline-block;
    color: #238193;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 980px) {
  #thedevelopers {
    padding-top: 90px;
  }
  #techsection,
  #thankyou {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 667px) {
  #main-header,
  #main-header-small {
    display: none;
  }

  #main-header-mobile {
    display: inline-block;
    color: #238193;
    font-size: 1.2rem;
  }
}
