p {
  font-family: "Barlow", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-size: 100%;
  background-color: #cacaca;
}

blockquote {
  margin-left: 40px;
  margin-right: 40px;
  background-color: #ddd;
  padding: 2em;
}

header { height: 130px; }

.disabled {
  color: grey;
  opacity: 0.5;
}

.navbar {
  background-color: rgb(55, 55, 56);
  padding: 20px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
  background: white !important;
}
.navbar-brand {
  display: flex;
}
.nav-spacing {
  margin-right: 2em;
}

#jumbheader {
  box-shadow: 2px 2px 2px rgb(167, 166, 166);
  background-color: #238193 !important;
  color: lightgray;
}
.header-text {
  margin: 0 auto;
  padding-top: 10px;
  font-weight: bold;
  height: 50px;
  color: white;
}

.title-font {
  text-align: center;
  vertical-align: middle;
}

.logo {
  height: 50px;
}

.jumbotron.jumbotron-fluid {
  background: none;
}
.jumbotron.jumbotron-fluid img {
  background: none;
  width: 100%;
  margin-top: -80px;
}

main {
  margin-bottom: 20px;
  margin-top: -30px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.row {
  justify-content: center;
}

.navbar-collapse {
  justify-content: flex-end;
  font-weight: bold;
  text-transform: uppercase;
}

.col-md-3.cohortMems {
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 2px lightgray;
  margin: 10px;
  margin-bottom: 25px;
  background: white;
}

.col-sm-2.technologies {
  border: none;
  border-radius: none;
  box-shadow: none;
}

.technos,
.words {
  margin-top: -55px;
  background: white;
  padding: 20px;
  border-radius: 20px;
}

.techs {
  width: 70px;
  margin: 20px 0px;
}

.words {
  padding: 50px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.col,
[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.hire-me {
  width: 200px;
  position: absolute;

  top: 27px;
  right: -48px;
  left: auto;

  border-bottom: 50px solid #F6881F;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  height: 0;

  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;

  color: #f0f0f0;

  transform: rotate(-45deg);
  -webkit-transform: rotate(45deg);
}

.cohortMems {
  top: 0;
  transition: top ease 0.5s;
}

.cohortMems:hover {
  top: -10px;
}

.cohortCard--learnMore {
  padding: 1.25rem 0 0 0
}

.cohortCard--learnMore {
  padding: 1.25rem 0 0 0
}

button.learnMoreButton {
  border-radius: 0 0 .25rem .25rem;
  line-height: 1.75;
  font-size: 1.5rem;
  color: white !important;
  background-color: #238193 !important;
}

button.resumeButton {
  border-radius: .25rem .25rem 0 0;
  line-height: 1.75;
  font-size: 1.5rem;
  color: white !important;
  background-color: #238193 !important;
}

.modal-body {
  display: block;
}

.studentContact {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  -webkit-justify-content: space-evenly;
  margin-bottom: 0.75rem;
}

.contactIcons {
  color: #238193;
}

a:not(.disabled) > .contactIcons:hover {
  transform: scale(1.2);
}

.modal-header {
  background-color: lightgray !important;
  color: #238193;
}

.modal-body img {
  width: 50%;
  height: 50%;
  box-shadow: 3px 3px 5px #cacaca;
  border-radius: 10px;
}

.backButton {
  margin-bottom: 1.5rem;
}

.navbar.navbar-light.bg-light.footer {
  margin-top: 10px;
  font-size: 1em;
  background-color: #238193 !important;
  color: white;
}

#demo-date {
  text-align: center;
  color: #238193 !important;
}

button {
  cursor: pointer;
}
.btn-outline-primary {
  color: #238193 !important;
  border-color: #238193 !important;
}

.btn-outline-primary:hover {
  color: white !important;
  background-color: #238193 !important;
}

/* adjusts size of contact icons depending on size of card */
@media (min-width: 992px) and (max-width: 1200px) {
  .fa-3x {
    font-size: 2.5em !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .fa-3x {
    font-size: 2em !important;
  }
}

@media (max-width: 900px) {
  /* body {
        background: url("../assets/images/bg.jpg") repeat;
    } */
  .jumbotron.jumbotron-fluid img {
    background: white;
    margin-top: 30px;
  }
  .jumbotron.jumbotron-fluid.sm-width {
    width: 100%;
  }
  .header-text {
    margin: 0 auto;
    height: 30px;
  }
  .header-text h2 {
    font-size: 1.5em;
    margin-top: -10px;
  }
  .modal-body {
    display: block;
  }
  .modal-content {
    width: 100%;
  }
  .modal-body img {
    width: 100%;
  }
  main {
    margin-bottom: 100px;
    margin-top: -50px;
    width: 100%;
  }
  .navbar-brand img {
    padding-right: none;
  }
}

.thank-you-title {
  margin-top: 1em;
}

.thank-you-list {
  margin-bottom: 0;
}
.thank-you-list li {
  list-style-type: none;
}

#main-header {
  display: inline-block;
  color: #238193;
}
#main-header-small,
#main-header-mobile {
  display: none;
}

@media only screen and (min-width: 668px) and (max-width: 980px) {
  #main-header,
  #main-header-mobile {
    display: none;
  }
  #main-header-small {
    display: inline-block;
    color: #238193;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 980px) {
  #thedevelopers {
    padding-top: 90px;
  }
  #techsection,
  #thankyou {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 667px) {
  #main-header,
  #main-header-small {
    display: none;
  }

  #main-header-mobile {
    display: inline-block;
    color: #238193;
    font-size: 1.2rem;
  }
}
